@import "tailwindcss";

@font-face {
  font-family: 'Delius Swash Caps';
  src: url('/fonts/DeliusSwashCaps-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@theme {
  --font-jost : "jost";
  --font-delius : "Delius Swash Caps";

  /* break points */
    --breakpoint-xxs: 250px;
    --breakpoint-xs: 330px;
    --breakpoint-s: 360px;
    --brekpoint-mm : 380px; 
    --brekpoint-ms : 400px; 
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-sxl : 1100px;
    --breakpoint-mxl : 1400px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}

@layer utilities {
  .font-jost {font-family: var(--font-jost);}
  .font-delius {font-family: var(--font-delius);}

  .button-bg {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  }
}

::-webkit-scrollbar{
  display: none;
}

.text-stroke {
  -webkit-text-stroke: 1px white; 
  text-stroke: 1px white;
  color: transparent;
  paint-order: stroke fill;
}

input[type="date"]::-webkit-datetime-edit {
    color: #565B5D; /* Your desired placeholder color */
    font-family: 'Poppins', sans-serif;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }